body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: justify;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #ccc; /* Change background color on hover */
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for responsive image */
div.image-section {
    width: 100%;
    height: auto; /* Allow the section height to adjust based on content */
    max-height: 100vh; /* Limit the maximum height of the section to the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Set a background color for the section */
}

div.image-section img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

section h2 {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
